spring:
  application:
    name: mamba-config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo
# 日志输出级别
logging:
  level:
    org.springframework: DEBUG